.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  border: 1px solid grey;
}

.margin-1 {
  margin: 0.5rem;
}

.container-login input {
  width: 25rem;
}

.container-login button {
  width: 25rem;
}

.container-login img {
  width: 300px;
  margin-bottom: 2.5rem;
}

.Prize-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.height-div {
  height: 100%;
}

.wholeContainer {
  margin: 0.5rem;
}
