.sidebarParent {
  height: 100vh;
  width: 15%;
  background-color: #2e4c6d;
}

.sidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.sidebarList .row {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

.rowLink a {
  color: white;
}

.row .sideIcon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row .rowLink {
  flex: 70%;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: #396eb0;
}

.active {
  background-color: #3c6f9c;
}
